<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	
	<script src="/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/jquery.validate.min.js"></script>
	<script src="/scripts/jSignature.min.js"></script>
	<!--<script src="/scripts/ohsnap.min.js"></script>-->

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/styles/bootstrap.min.css" >
	<link rel="stylesheet" href="/styles/modal.css" >
	<link rel="stylesheet" href="/styles/bootstrap-theme.min.css" >

	<link rel="stylesheet" href="/styles/jquery-ui.theme.min.css" >

	<!-- Latest compiled and minified JavaScript -->

	<script src="/scripts/bootstrap.min.js" ></script>
	<script src="/scripts/bootstrap-filestyle.min.js"></script>
	<script src="/scripts/jquery-ui.min.js"></script>


	<style type="text/css">

	body{
		background-color: #c4c4c4;
	}

	.gris{
		background-color: #dadada;
		font-size: 1.5em;
	}

	.error{ color: red }

	</style>

	<script type="text/javascript">
	$(document).ready(function(){

		function addLeadingZeros (n, length)
		{
		    var str = (n > 0 ? n : -n) + "";
		    var zeros = "";
		    for (var i = length - str.length; i > 0; i--)
		        zeros += "0";
		    zeros += str;
		    return n >= 0 ? zeros : "-" + zeros;
		}

		$("#minutes").focus(function() {
		  this.value = "";


		});

		$("#seconds").focus(function() {
		  this.value = "";
		});
		$("#miliseconds").focus(function() {
		  this.value = "";
		});

		$("#minutes").focusout(function() {
		  var largo = $(this).val().length;
		  $(this).val(addLeadingZeros($(this).val(),2));


		  	var minutes = $('#minutes').val();
			var secs = $('#seconds').val();
			var msecs = $('#miliseconds').val();

			var completo = minutes+":"+secs+":"+msecs;
			
			$("#tiempo").val(completo);

		});

		$("#seconds").focusout(function() {
		  var largo = $(this).val().length;
		  $(this).val(addLeadingZeros($(this).val(),2));



		  		  	var minutes = $('#minutes').val();
			var secs = $('#seconds').val();
			var msecs = $('#miliseconds').val();

			var completo = minutes+":"+secs+":"+msecs;
			
			$("#tiempo").val(completo);


		});

		$("#miliseconds").focusout(function() {
		  var largo = $(this).val().length;
		  $(this).val(addLeadingZeros($(this).val(),3));


		  	var minutes = $('#minutes').val();
			var secs = $('#seconds').val();
			var msecs = $('#miliseconds').val();

			var completo = minutes+":"+secs+":"+msecs;
			
			$("#tiempo").val(completo);

		});

		// if user resize the window, call the same function again
		// to make sure the overlay fills the screen and dialogbox aligned to center	
		$(window).resize(function () {
			
			//only do it if the dialog box is not hidden
			if (!$('#dialog-box').is(':hidden')) popup();		
		});


		//Popup dialog
		function popup(message) {
				
			// get the screen height and width  
			var maskHeight = $(document).height();  
			var maskWidth = $(window).width();
			
			// calculate the values for center alignment
			var dialogTop =  (maskHeight/3) - ($('#dialog-box').height());  
			var dialogLeft = (maskWidth/2) - ($('#dialog-box').width()/2); 
			
			// assign values to the overlay and dialog box
			$('#dialog-overlay').css({height:maskHeight, width:maskWidth}).show();
			$('#dialog-box').css({top:dialogTop, left:dialogLeft}).show();
			
			// display the message
			$('#dialog-message').html(message);
					
		}



		var $sigdiv = $("#signature");

        $sigdiv.jSignature();

        $("#limpiar_firma").click(function(){
        	$sigdiv.jSignature("reset");
        	$("#firma_usuario").val('');
        });

		$("#signature").bind('change', function(e){
			$("#firma_usuario").val('');

			var datapair = $sigdiv.jSignature("getData", "svgbase64");

			$("#firma_usuario").val(datapair);
		 })


        /*$("#btnSend").click(function(){
        	$( "#setPreferences" ).submit();
        });*/




		$('#foto_usuario').filestyle({
				buttonName : 'btn-success',
                buttonText : 'Foto usuario'
			});


		$( "#setPreferences" ).validate({
		  rules: {
		  	nombre: {
		      required: true
		    },
		    apellidos: {
		      required: true
		    },
		    dni: {
		      required: true
		    },
		    foto_usuario: {
		      required: true
		    },
		    minutes: {
		      required: true,
		      minlength: 2,
		      maxlength:2
		    },
		    seconds: {
		      required: true,
		      minlength: 2,
		      maxlength:2
		    },
		    miliseconds: {
		      required: true,
		      minlength: 3,
		      maxlength:3
		    },
		    firma_usuario: {
		      required: true
		    }
		  }
		});
	$("#btnSend").click(function(){
        	$("#setPreferences").valid();
        });
		//$( "#setPreferences" ).on('submit', function( e ) {


			//if($( "#setPreferences" ).valid()){

						//console.log('select_link clicked');

						

			 			
						/*var formData = new FormData($(this)[0]);
			  			// Stop form from submitting normally
			  			e.preventDefault();

						$.ajax({
						  type: "POST",
						  async: false,
						  url: '/createUser',
						  data: formData,
						  contentType: false,
						  processData: false,
						  cache: false})
						.done(function() {
						    console.log("success");
						  	$('#dialog-message').html("usuario guardado correctamente !!");
						  	location.reload();
						  })*/
						/*.beforeSend(function(xhr, settings) {
						    // I want to change the data here.
			        			var minutes = $('#minutes').val();
			        			var secs = $('#seconds').val();
			        			var msecs = $('#miliseconds').val();

			        			var completo = minutes+":"+secs+":"+msecs;

			        			settings.data.set("tiempo", completo);
						  });*/

						//return false;
			//}
		//});

						  //timeout: 240000,
						  //headers: { "cache-control": "no-cache" },
						/*  beforeSend: function(xhr, settings) {
			        			// I want to change the data here.
			        			var minutes = $('#minutes').val();
			        			var secs = $('#seconds').val();
			        			var msecs = $('#miliseconds').val();

			        			var completo = minutes+":"+secs+":"+msecs;

			        			settings.data.set("tiempo", completo);
			    			},
						  success: function(){
						  	console.log("success");
						  	$('#dialog-message').html("usuario guardado correctamente !!");
						  	location.reload();
						  	//ohSnap('Oh Snap! I cannot process your card...', {color: 'red'});
						  }*/
						

		// if user clicked on button, the overlay layer or the dialogbox, close the dialog	
		$('a.btn-ok, #dialog-overlay, #dialog-box').click(function () {		
			$('#dialog-overlay, #dialog-box').hide();

			// clear toda la data
			$('#nombre').val('');
			$('#minutes').val('');
			$('#seconds').val('');
			$('#miliseconds').val('');
			$('#foto_usuario').val('');
			$('#firma_usuario').val('');
			$sigdiv.jSignature("reset");

			return false;
		});
		
		
	});

	</script>
	

</head>

   <body>


   	<div class="container">
	
<!-- inicio modal -->
	<div id="dialog-overlay"></div>
	<div id="dialog-box">
		<div class="dialog-content">
			<div id="dialog-message"></div>
			<a href="#" class="button">Close</a>
		</div>
	</div>
<!-- fin modal -->

   	<br >
   	   	<h1>Nuevo jugador </h1>
  	<br >


		<form  class="form-fatter" name="setPreferences" id="setPreferences" action="/createUser" method="POST" enctype="multipart/form-data">

			<div id="user_data">

				<div id="ohsnap"></div>

			<div class="form-group">
				<label for="nombre">nombre</label>
    			<input class="form-control input-lg gris" type="text" value="" id="nombre" name="nombre">
			</div>

			<div class="form-group">
				<label for="nombre">apellidos </label>
    			<input class="form-control input-lg gris" type="text" value="" id="apellido" name="apellido">
			</div>
			
			<div class="form-group">
				<label for="nombre">dni</label>
    			<input class="form-control input-lg gris" type="text" value="" id="dni" name="dni">
			</div>

			<div class="form-group">
				<label for="nombre">twitter</label>
    			<input class="form-control input-lg gris" type="text" value="" id="tlf" name="tlf">
			</div>


			<div class="form-group">
				<label for="foto_usuario">foto usuario</label>
    			<input type="file" name="foto_usuario" id="foto_usuario">

			</div>

			<div class="form-group">
			<div class="row">
				<div class="col-md-4">
					<label for="minutes" >minutos</label>
					<input class="form-control input-lg gris" type="number" id="minutes" name="minutes" value="00">
				</div>

				<div class="col-md-4">
    				<label for="seconds">segundos</label>
					<input class="form-control input-lg gris" type="number" id="seconds" name="seconds" value="00">
				</div>
				
				<div class="col-md-4">
					<label for="miliseconds">milisegundos</label>
					<input class="form-control input-lg gris" type="number" id="miliseconds" name="miliseconds" value="000">
				</div>

			</div>
			</div>
			<input class="form-control input-lg gris" type="text" id="tiempo" name="tiempo">

			<div class="form-group">
				<label for="firma_usuario">firma usuario</label>
    			<div id="signature" style="border:1px solid #000" class="gris"></div>

    			<input class="form-control input-lg gris" type="hidden" value="" id="firma_usuario" name="firma_usuario">
				
				<a href="#" class="btn btn-danger" id="limpiar_firma">limpiar firma</a>

			</div>
  	<br >
			<div class="row_submit">
				<p style="font-size:0.7em">
				<b>AUTORIZO</b>
<br ><br >
A ABANCA Corporación Bancaria, S.A. (en lo sucesivo, ABANCA), con CIF A-70302039, para que pueda:
<br ><br >
<ul style="font-size:0.7em">
	<li>A. Captar nuestra imagen mediante fotografía/s en los stands que ABANCA tiene instalado en la Universidad de la Coruña entre el 20 y el 23 de marzo de 2017;</li>

	<li>B. Llevar a cabo la reproducción, distribución, uso, tratamiento, difusión y/o publicación de la/s fotografía/s referidas en el apartado (A) anterior en los perfiles oficiales de ABANCA en las Redes Sociales (por ejemplo, Facebook y/o Twitter); y</li>

	<li>C. Proceder al tratamiento de nuestros datos personales, incluidas la/s citadas fotografía/s, para gestionar mi participación en el circuito Mindrace de campus ABANCA, en el que el ganador de cada día será presentado en el perfil oficial de ABANCA en Twitter entre el 20 y el 23 de marzo de 2017.</li>
</ul>

<span style="font-size:0.7em">
Declaro que conozco y acepto las Bases legales, Términos y Condiciones.
<br >
La autorización contenida en el presente documento tiene carácter gratuito y duración indefinida, pudiendo ser revocada en cualquier momento, sin que dicha revocación tenga efectos retroactivos.

<br >
Conforme a la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, quedo informado/a de que los datos recogidos en el presente documento, así como los datos que se recaben y/o generen con motivo de la autorización contenida en dicho documento, serán incorporados a un fichero titularidad de ABANCA. Esta Entidad podrá efectuar el tratamiento, automatizado o no, de todos los referidos datos, con la finalidad de gestionar la autorización contenida en este documento y proceder a la captación, reproducción, distribución, uso, tratamiento, difusión y/o publicación de la imagen/es conforme a lo previsto en la presente autorización. 
Asimismo quedo informado/a de que podré ejercer los derechos de acceso, rectificación, cancelación y oposición, enviando un escrito a ABANCA, Entidad responsable del tratamiento, en C/ Rúa Nueva, nº 30, 6ª planta, 15003 (A Coruña).
</span>
</p>

				<button class="btn btn-info" type="submit" id="btnSend">ENVIAR DATA</button>
			</div>
  	<br ><br ><br >
		</form>

	</div>
	

  </body>


</html>